@model TeamAuthMvc.Dtos.RegisterDto

<h2>Register</h2>

<form asp-action="Register" method="post">

    <label>Username</label>
    <input asp-for="Username" />

    <label>Email</label>
    <input asp-for="Email" />

    <label>Password</label>
    <input asp-for="Password" type="password" />

    <button type="submit">Register</button>

</form>